body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 18px;
}

header {
    background: white;
    color: black;
    padding: 0.6 rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.header-container {
    display: flex;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
        
        .logo img{
            height: 80px;
            width: auto;
            vertical-align: middle;
        }
        .logo a{
           text-decoration: none;
        }
        .logo img:hover{
            opacity: 0.85;
            transition: opacity 0.3s;
        }
        .logo {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0 auto;
}
nav 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    list-style: none;
    gap: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2rem;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
    transition: color 0.3s;
}

nav ul li a:hover {
    text-decoration: underline;
}
.container{
    width:90%;
    max-width:1200px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0,15);
}
.form{
    width: 100%;
}

.hero{
    background-size: cover;
    background-position: center;
    height: 500px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero h1{
     font-size: 3.5rem;
     margin-bottom: 1rem;
     text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.hero p{
    font-size: 1.5rem;
     margin-bottom: 2rem;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.gallery-grid{
    display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 25px;          
}

.gallery-grid img{
         height: 250px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: bold;
         transition: transform 0.3s;
            cursor: pointer;
        width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.img-grid{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.submit{
    background: linear-gradient(135deg, #721e63 0%, hsl(341, 89%, 56%) 100%);
    color:white;
    padding:15px 40px;
    font-size:22px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
}

footer{
    background-color: #1a1a1a;;
    color: white;
     text-align:center;
     padding: 30px;
     margin-top: 25px;
     font-size: 20px;
}
.contact-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}
